.container-wrapper {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;

  .container {
    background-color: white;
    width: 45%;
    margin: 0;
    padding: 2rem;
    border: 1px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 2%;
  }
}
